<p>Hi {{application.first_name|capfirst}}!</p>
<p>This is the final step in your scholarship application process. We send you here the last assignment you need to resolve.</p>
<p>Follow <a href="{{scholarship_assignment_url}}">this link</a> to know the assignment. You must resolve the assignment using a gist document (<a href="https://gist.github.com">https://gist.github.com</a>) and then paste the gist URL into <a href="https://sis.rmotr.com{{solution_url}}">this form</a>.</p>
<p>If you have any doubt or question, don't hesitate to contact us at <a href="mailto:questions@rmotr.com">questions@rmotr.com</a></p>
