<p>Hi {{application.first_name|capfirst}}!</p>
<p>You've applied for a scholarship in our remote courses. In order to grant scholarships to the most commited applicants, we are going to send you a few assignments that you must resolve.</p>
<p>Follow <a href="{{scholarship_assignment1_url}}">this link</a> to know the first assignment. You must resolve the assignment using a gist document (<a href="https://gist.github.com">https://gist.github.com</a>) and then paste the gist URL into <a href="https://sis.rmotr.com{{solution_url}}">this form</a>.</p>
<p>If you have any doubt or question, don't hesitate to contact us at <a href="mailto:questions@rmotr.com">questions@rmotr.com</a></p>
