<p>
    Hello {{application.first_name}}, we're excited to have you on board!
    The course is starting soon. That's why we need you to setup your account in our system. For that you'll need to create a few <b>FREE</b> accounts in different services (Github, Cloud9, etc). Don't worry that we've created a help document that can assist you in the process.
</p>
<p>
    Please setup your accounts in this page: <a href="https://sis.rmotr.com{{signup_url}}">Setup accounts form.</a> You'll find all the instructions there.
</p>

<p>If you have any questions you can answer this email directly or send your inquiries to <a href="mailto:questions@rmotr.com">questions@rmotr.com</a>.</p>
