{% extends 'bare.html' %}

{% block main_container %}
<div class="row">
    <div class="col-sm-12">
        <h3>{{ object.course.name }}</h3>
        <p>Starting {{ object.start_date }}, finishing {{ object.end_date }}</p>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <h4>Lectures</h4>
        {% if object.lecture_set.all %}
        <table class="table table-striped">
            {% for lecture in lectures %}
            <tr>
                <td>{{ lecture.date }}</td>
                <td><a href="{% url 'courses:lecture_detail' lecture.id %}">{{ lecture.title }}</a></td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <p>Lectures coming soon...</p>
        {% endif %}
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        {% if object.students.all|length > 0 %}
        <h4>Students in this course:</h4>
        <ul>
            {% for student in object.students.all %}
            <li>
                {{ student.get_full_name }}
                {% if user.is_staff and student.last_activity %}
                    <span class="label label-primary">{{ student.last_activity }}</span>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>Currently there's not students in this course</p>
        {% endif %}
    </div>
</div>

{% if user.is_staff %}
<div class="row">
    <div class="col-xs-12">
        <h4>Students CRM</h4>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                {% for student in object.students.all %}
                <tr>
                    <td>{{ student.id }}</td>
                    <td>{{ student.get_full_name }}</td>
                    <td>{{ student.email }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-xs-12">
        <h4>Copy paste zone</h4>
        <p>
            <strong>Emails:</strong>
            {% for student in object.students.all %}
            {{ student.email }},
            {% endfor %}
        </p>
    </div>
</div>
{% endif %}

<div class="row">
    <div class="col-sm-6">
    <a class="btn btn-default" href="{% url 'student_home' %}">« Back to home</a>
    </div>
</div>
{% endblock %}
