{% extends 'bare.html' %}

{% block main_container %}
{% if lecture %}
<h1>{{ lecture.subject }} - {{ lecture.date }}</h1>

    {% if lecture.summary %}
        <p> {{ lecture.summary }} </p>
    {% else %}
        <p>Summary coming soon!</p>
    {% endif %}

     <h2>Video</h2>
    {% if lecture.video_url %}
     <iframe width="560" height="315" src="{{ lecture.video_url }}" frameborder="0" allowfullscreen></iframe>
    {% else %}
    <p>Video coming soon!</p>
    {% endif %}

    <h2>Slides</h2>
    {% if lecture.slides_url %}
       <a href="{{ lecture.slides_url}}">Look at the slides</a>
    {% else %}
       <p>Slides coming soon!</p>
    {% endif %}

    <h2>Lecture Notes</h2>
    {% if lecture.notes %}
        {{ lecture.notes }}
    {% else %}
        <p>Notes coming soon!</p>
    {% endif %}

    <br><br>
    <p><a href="{% url 'courses:class_index' lecture.course.id %}">Back to classes</a></p>

{% else %}

<h1>Shouldnt be seeing this</h1>

{% endif %}
{% endblock %}
