{% extends 'bare.html' %}

{% block main_container %}

<div class="row">
    <div class="col-sm-12">
        <h3>{{ lecture.title }}</h3>
        <p>{{ lecture.date }}</p>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        {% if lecture.content %}
        <p> {{ html_content|safe }} </p>
        {% endif %}

        {% if lecture.video_url %}
        <a class="btn btn-default" target="_blank" href="{{ lecture.video_url }}" role="button">
            <span class="glyphicon glyphicon-play" aria-hidden="true"></span> Recorded video
        </a>
        {% endif %}

        {% if lecture.slides_url %}
        <a class="btn btn-default" target="_blank" href="{{ lecture.slides_url}}" role="button">
        <span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span> Slides
        </a>
        {% endif %}
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <h4>Assignments</h4>
        {% if assignments %}
        <table class="table table-striped">
            <tbody>
                {% for assignment in assignments %}
                <tr>
                    <td>#{{ forloop.counter }}</td>
                    <td><a href="{% url 'assignments:resolve_assignment' assignment.id %}?next={% url 'courses:lecture_detail' lecture.id %}">{{ assignment.title }}</a></td>
                    <td>{{ assignment.get_difficulty_display }}</td>
                    <td>
                        {% for tag in assignment.tags.all %}
                        <span class="label label-default">{{ tag }}</span>
                        {% endfor %}
                    </td>
                    <td>{{ assignment.attempts}} attempts</td>
                    <td>{{ assignment.status|capfirst }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>Assignments coming soon.</p>
        {% endif %}
    </div>
</div>

{% if user.is_staff and assignments %}
<div class="row">
    <div class="col-sm-6">
        <h4>Assignment summary</h4>
        <table class="table table-bordered table-striped assignment-summary">
            <thead>
                <td></td>
                {% for student, assignments in summary.items %}
                {% if forloop.counter == 1 %}
                {% for assignment in assignments %}
                <td><a title="{{ assignment.title }}" target="_blank" href="{% url 'admin:assignments_assignment_change' assignment.id %}">#{{ forloop.counter }}</a></td>
                {% endfor %}
                {% endif %}
                {% endfor %}
            </thead>
            <tbody>
                {% for student, assignments in summary.items %}
                <tr>
                    <td>{{ student.get_full_name }}</td>
                    {% for assignment, status in assignments.items %}
                    <td>{{ status|capfirst }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endif %}

<div class="row">
    <div class="col-sm-6">
    <a class="btn btn-default" href="{% url 'courses:course_detail' lecture.course_instance.id %}">« Back to lectures</a>
    </div>
</div>
{% endblock %}
