<p>
You're receiving this email because you requested a password reset for your user
account at rmotr.com.
</p>

Please go to the following page and choose a new password:
<a href="https://sis.rmotr.com{% url 'password_reset_confirm' uidb64=uid token=token %}">https://sis.rmotr.com{% url 'password_reset_confirm' uidb64=uid token=token %}</a>

<p>Your username, in case you've forgotten: {{ user.get_username }}</p>

<p>If you have any doubt or question, don't hesitate to contact us at <a href="mailto:questions@rmotr.com">questions@rmotr.com</a></p>
