body {
  padding: 70px 0px 50px 0px;
}
div.message-alert {
    margin-bottom: 0;
}
div.row {
  margin-bottom: 10px;
}

/* Lecture detail */
.assignment-summary td {
   text-align: center;
}
.assignment-summary td:nth-child(1) {
    text-align: left;
}
