body {
  min-height: 2000px;
  padding-top: 70px;
}

div.row {
  margin-bottom: 10px;
}

/* Lecture detail */
.assignment-summary td {
   text-align: center;
}
.assignment-summary td:nth-child(1) {
    text-align: left;
}
