{% extends 'bare.html' %}

{% block main_container %}
{% if not user.has_updated_profile %}
<div class="row">
    <div class="message-alert alert alert-warning" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    Hey {{user.first_name}}, please take a minute to update your profile information <a href="{% url 'update_profile' %}">here</a>.
    </div>
</div>
{% endif %}
<div class="row">
    <div class="jumbotron">
      <h2>Hello, {{ user.get_full_name }}!</h2>
      <p>Welcome to rmotr SIS. Here you can access all the information you need about courses, lectures, assignments and more. Please, start by clicking the course link below...</p>
      {% if not user.is_staff %}
      <p>
          {% for instance in courses %}
          <a class="btn btn-primary btn-lg" href="{% url 'courses:course_detail' instance.id %}" role="button">{{ instance.course.name }}</a>
          {% endfor %}
      </p>
      {% else %}
      <ul>
          {% for instance in courses %}
          <li><a href="{% url 'courses:course_detail' instance.id %}">({{ instance.code }}) {{ instance.course.name }}</a> ({{ instance.start_date }} - {{ instance.end_date }})</li>
          {% endfor %}
      </ul>
      {% endif %}
    </div>
</div>
{% endblock %}
