{% extends 'bare.html' %}

{% block main_container %}
<div class="row">
    <div class="jumbotron">
      <h2>Hello, {{ user.profile.full_name }}!</h2>
      <p>Welcome to rmotr SIS. Here you can access all the information you need about courses, lectures, assignments and more. Please, start by clicking the course link below...</p>
      <p>
          {% for instance in courses %}
          <a class="btn btn-primary btn-lg" href="{% url 'courses:course_detail' instance.id %}" role="button">{{ instance.course.name }}</a>
          {% endfor %}
      </p>
    </div>
</div>
{% endblock %}
