{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head {% block extra_head_attrs %}{% endblock %}>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'img/favicon.ico' %}">

    <title>rmotr.com - Student information system</title>

    <link href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <link href="{% static 'css/form_wizard.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" />
    {% block open_graph_tags %}{% endblock %}

    {% include "utlis/mixpanel.html" %}
    {% include "utlis/twitter-js.html" %}
    {% block mixpanel_tracking_block %}{% endblock %}
    {% block extra_header_styles %}{% endblock %}
  </head>

  <body>

    {% block extra_hidden_html %}{% endblock %}

    <!-- Fixed navbar -->
    {% block navbar %}
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">rmotr SIS</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">

          <ul class="nav navbar-nav">
            {% if user.is_authenticated %}
            <li class=""><a href="{% url 'student_home' %}">
              <span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home
            </a></li>
            {% if user.is_staff %}
            <li class="">
              <a href="{% url 'admin:accounts_user_changelist' %}">
                <span class="glyphicon glyphicon-list" aria-hidden="true"></span> Students
              </a>
            </li>
            <li class="">
              <a href="{% url 'admin:index' %}" target="_blank">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Admin
              </a>
            </li>
            {% endif %}
            {% endif %}
          </ul>

          <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{ user.get_full_name }}
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="{% url 'update_profile' %}">Update profile</a></li>
                <li><a href="{% url 'password_change' %}">Change password</a></li>
                <li class="divider"></li>
                <li><a href="{% url 'django.contrib.auth.views.logout' %}">Log out</a></li>
              </ul>
            </li>
            {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    {% endblock %}

    <div class="container">

      {% if messages %}
      <div class="row">
          <div class="col-sm-12">
              {% for message in messages %}
              <div class="message-alert alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {{ message }}
              </div>
              {% endfor %}
          </div>
      </div>
      {% endif %}

      {% block main_container %}{% endblock %}
    </div> <!-- /container -->

    <!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
    {% block extra_footer_scripts %}{% endblock %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-57824707-3', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
