<p>
Hey {{application.first_name}}, thank you so much for applying to rmotr.com.
We're glad to have you on board.
Please keep in mind that you've not finished the application process yet.
We still have some free scholarships and payed spots, so you still have time to finish it!
</p>

<p>To resume it please go to: <a href="https://sis.rmotr.com{{next_url}}">https://sis.rmotr.com{{next_url}}</a>.</p>

<p>If you have any questions please send us an email to <a href="mailto:questions@rmotr.com">questions@rmotr.com</a>.</p>
