<p>
Hello {{application.first_name}}, we're excited to have you on board!
After a tough selection process we've chosen you to participate in our Advanced Python Programming course.
Please keep in mind that you have to make the tuition payment to be confirmed as a participant.
This email is just a notification that you've been selected.
</p>

<p>To continue with your payment please follow the next URL: <a href="https://sis.rmotr.com{{next_url}}">https://sis.rmotr.com{{next_url}}</a>.</p>

<p>
Remember that the course starts next Tuesday.
So we need your payment confirmed by Monday 9th, by 12PM EST (noon).
Please note that if you've not completed your payment by that time you'll automatically be rejected to give the possibility to other student to attend.
</p>

<p>If you have any questions you can answer this email directly or send your inquiries to <a href="mailto:questions@rmotr.com">questions@rmotr.com</a>.</p>

<p>We want to say again: Congratulations! We've had more than 500 applicants and you're one of the top ones.</p>

<p>Best regards!</p>
