<p>Hello {{application.first_name}}. It’s Martin here again, from rmotr.com.</p>

<p>
You were one of the few selected applicants for our remote Python course starting this week.
Sadly we did not receive your tuition payment yet.
Remember that we can not guarantee your spot in the course until the payment is done.
</p>

<p>
Your reserved spot for the remote Python course is about to expire in a few hours.
If you still want to participate in the course starting this week, please follow this link to perform the tuition payment:
<a href="https://sis.rmotr.com{{next_url}}">https://sis.rmotr.com{{next_url}}</a>
On the other hand, if for some reason you can not participate in this course please let us know, so we can reserve the spot for other candidate.
We have many students willing to get in.
</p>

<p>If you have any questions you can answer this email directly or send your inquiries to <a href="mailto:questions@rmotr.com">questions@rmotr.com</a>.</p>

<p>It would be great to have you on board, because you were one of the best applicants after a tough selection process between hundred of applications.</p>

<p>Best regards!</p>
