{% extends 'bare.html' %}

{% block navbar %}{% endblock %}

{% block main_container %}
<div class="jumbotron">
    <h2>
        <span class="glyphicon glyphicon-ok" style="color: green;" aria-hidden="true"></span>
        Thanks! We received your solution to the first assignment.
    </h2>
    <p>You are going to receive an email soon with instructions about how to proceed.</p>
    <p>You don't see the email? Make sure you check your spam folder or the promotions tab.</p>
    <p>If you have further questions, don't hesitate to contact us at <a href="mailto:questions@rmotr.com">questions@rmotr.com</a>.</p>
</div>
{% endblock %}


{% block mixpanel_tracking_block %}
<script type="text/javascript">
 (function () {
     executeMixpanel((function(){
         mixpanel.track('Application scholarship Assignment 1 completed', {
             timestamp: new Date().toISOString()
         });
     }));
 }());

</script>
{% endblock %}
