{% extends 'bare.html' %}

{% block navbar %}{% endblock %}

{% block main_container %}
<div class="jumbotron">
    <h2>
        <span class="glyphicon glyphicon-ok" style="color: green;" aria-hidden="true"></span>
        Great! We've received your application for a scholarship
    </h2>
    <p>Check your email. We've sent you information about the following steps in this application process.</p>
    <p>You don't see the email? Make sure you check your spam folder or the promotions tab.</p>
    <p>If you have further questions don't hesitate to contact us at <a href="mailto:questions@rmotr.com">questions@rmotr.com</a>.</p>
</div>
{% endblock %}

{% block mixpanel_tracking_block %}
<script type="text/javascript">
 (function () {
     executeMixpanel((function(){
         mixpanel.track('Application scholarship step 1 completed', {
             timestamp: new Date().toISOString()
         });
     }));
 }());

</script>
{% endblock %}
