{% extends 'bare.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block extra_header_styles %}
<link href="{% static 'css/applications.css' %}" rel="stylesheet">
{% endblock %}

{% block navbar %}{% endblock %}

{% block main_container %}
<div class="page-header">
    <h1>Apply for a scholarship at rmotr.com</h1>
</div>


<p class="lead">
    Scholarships will be granted to people that need them. We do a careful selection of applicants. Please read about our <a target="_blank" href="http://blog.rmotr.com/announcements/2015/03/29/new-scholarship-model/">Scholarship model</a> and the <a target="_blank" href="http://blog.rmotr.com/scholarships/2015/01/08/scholarship-faqs/">Scholarships FAQs</a> before applying.
</p>

<div class="page-header">
    <p><b>Please answer the following questions and explain us why you are a good candidate to deserve a scholarship.</b></p>
</div>

<form method="POST">
    {% csrf_token %}
    {{form|crispy}}
    <input class="btn btn-info" type="submit">
</form>
{% endblock %}
