{% extends 'bare.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block extra_header_styles %}
<link href="{% static 'css/applications.css' %}" rel="stylesheet">
{% endblock %}

{% block navbar %}{% endblock %}

{% block main_container %}
{% include "applications/form_wizard.html" with step="2" only %}
<h1>Personal information</h1>
<p>Tell us some personal information so we can know you better</p>
<form method="POST">
    {% csrf_token %}
    {{form|crispy}}
    <input class="btn btn-info" type="submit">
</form>
{% endblock %}

{% block extra_footer_scripts %}
<script type="text/javascript">
    $('select[name="timezone"]').select2();
</script>
{% endblock %}


{% block mixpanel_tracking_block %}
<script type="text/javascript">
 (function () {
     executeMixpanel((function(){
         mixpanel.track('Application Step 2 viewed', {
             timestamp: new Date().toISOString()
         });
     }));
 }());
</script>
{% endblock %}
