{% extends 'bare.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block extra_header_styles %}
<link href="{% static 'css/applications.css' %}" rel="stylesheet">
{% endblock %}

{% block navbar %}{% endblock %}

{% block main_container %}
<h2>Second assignment</h2>
<p>For the next step in this application process you must resolve <a href="{{scholarship_assignment_url}}">this assignment</a>, and paste the solution in this form.</p>
<form method="POST">
    {% csrf_token %}
    {{form|crispy}}
    <input class="btn btn-info" type="submit">
</form>
{% endblock %}


{% block mixpanel_tracking_block %}
<script type="text/javascript">
 (function () {
     executeMixpanel((function(){
         mixpanel.track('Application scholarship Assignment 2 viewed', {
             timestamp: new Date().toISOString()
         });
     }));
 }());

</script>
{% endblock %}
