{% extends 'bare.html' %}

{% block navbar %}{% endblock %}

{% block main_container %}
<div class="jumbotron">
    <h2>
        <span class="glyphicon glyphicon-ok" style="color: green;" aria-hidden="true"></span>
        Congratulations! You completed the whole application process.
    </h2>
    <p>We are going to contact you as soon as we review your application, both either you were selected or not.</p>
    <p>If you have further questions, don't hesitate to contact us at <a href="mailto:questions@rmotr.com">questions@rmotr.com</a>.</p>
</div>
{% endblock %}
