{% extends 'bare.html' %}

{% block navbar %}{% endblock %}

{% block main_container %}
<div class="jumbotron">
    <h2>
        <span class="glyphicon glyphicon-ok" style="color: green;" aria-hidden="true"></span>
        Great! You've completed the first step of the application.
    </h2>
    <p>We've sent you an email where you will find the link to the next step in the application process.</p>
    <p><strong>You don't see the email?</strong> Make sure you check your spam folder or the promotions tab. If you still don't get it contact us at <a href="mailto:questions@rmotr.com">questions@rmotr.com</a>.</p>
</div>
{% endblock %}
