{% extends 'bare.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block extra_head_attrs %}prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#"{% endblock %}

{% block open_graph_tags %}

  <meta property="og:type"   content="article" />
  <meta property="og:url"    content="{{BASE_HOST}}/applications/" />
  <meta property="og:title"  content="Remote Python Programming Course" />
  <meta property="og:image"  content="{{BASE_HOST}}{% static 'img/python-course-og-image.jpg' %}" />
  <meta property="og:description" content="Learn Advanced Python Programming in a remote classroom with a real teacher and real classmates." />

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@rmotr_com">
  <meta name="twitter:creator" content="@rmotr_com">
  <meta name="twitter:title" content="Remote Python Programming Course">
  <meta name="twitter:description" content="Learn Advanced Python Programming in a remote classroom with a real teacher and real classmates.">
  <meta name="twitter:image" content="{{BASE_HOST}}{% static 'img/python-course-og-image.jpg' %}">
{% endblock %}

{% block extra_header_styles %}
<link href="{% static 'css/applications.css' %}" rel="stylesheet">
{% endblock %}

{% block navbar %}{% endblock %}

{% block main_container %}
<div class="page-header application-course-header">
    <h1>Advanced Python Programming course</h1>
    <img src="/static/img/python-logo-master-v3-TM-flattened.png"/>
    <p class="lead course-description">
        Learn Advanced Python concepts in a real classroom, with a real teacher and classmates, but remotely.
    </p>
    <p class="course-details">
        Read more about how it works, the price, contents and requirements <a href="http://blog.rmotr.com/announcements/2015/10/20/python-programming-course-batch-4-is-now-open/" target="_blank">here.</a>
    </p>
</div>
<div>

</div>


{% include "applications/form_wizard.html" with step="1" only %}
<form method="POST">
    {% csrf_token %}
    {{form|crispy}}
    <input class="btn btn-info" type="submit">
</form>
{% endblock %}

{% block mixpanel_tracking_block %}
<script type="text/javascript">
 (function () {
     executeMixpanel((function(){
         var utmSource = getParameterByName('utm_source');
         var utmMedium = getParameterByName('utm_medium');
         var utmCampaign = getParameterByName('utm_campaign');
         mixpanel.register_once({
             'utm_source': utmSource,
             'utm_medium': utmMedium,
             'utm_campaign': utmCampaign
         });
         mixpanel.track('Application Step 1 viewed', {
             timestamp: new Date().toISOString(),
             'utm_source': utmSource,
             'utm_medium': utmMedium,
             'utm_campaign': utmCampaign
         });
     }));
 }());
</script>
{% endblock %}
