{% extends 'bare.html' %}

{% block navbar %}{% endblock %}

{% block main_container %}
<div class="jumbotron">
    <h2>
        <span class="glyphicon glyphicon-ok" style="color: green;" aria-hidden="true"></span>
        Congratulations! Your application is complete.
    </h2>
    <p>We are going to contact you as soon as we review your application.</p>
    <p>If you have further questions, don't hesitate to contact us at <a href="mailto:questions@rmotr.com">questions@rmotr.com</a>.</p>
    <br/>
</div>
<div class="jumbotron">
    <h3>Can not afford the course price? Want to apply for a 100% off scholarship?</h3>
    <p>We offer 100% off scholarships for people who can not pay our courses. We believe in free education, and we don't want
       to leave people out because of economic issues.
    </p>
    <p>If this is your case, follow the link below and tell us why we should give you this course for free.</p>
    <a href="{{scholarship_url}}" class="btn btn-success">Apply for a scholarship</a>
</div>
{% endblock %}
