{% extends 'bare.html' %}

{% block navbar %}{% endblock %}

{% block main_container %}
<div class="jumbotron">
    <h2>
        <span class="glyphicon glyphicon-ok" style="color: green;" aria-hidden="true"></span>
        Congratulations! You have created your account in our SIS platform.
    </h2>
    <p>Your account has already been created, but it's not active yet. We will activate it soon.</p>
    <p>Once your account is activated you will be able to access to: <a href="http://sis.rmotr.com/">http://sis.rmotr.com/</a></p>
    <p>If you have any problem, please don't hesitate to contact us at <a href="mailto:questions@rmotr.com">questions@rmotr.com</a></p>
</div>
{% endblock %}
